.mail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mail-icons {
  width: 30px;
}

.name-icons {
  width: 30px;
}

label {
  margin: 18px;
}
img {
  margin-bottom: 10px;
}

.logo_linkedin,
.logo_discord,
.logo_gmail {
  width: 40px;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .listing-contact {
    display: flex;
    line-height: 3rem;
    flex-direction: column;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: rgb(35 61 94);
    margin: auto;
  }

  .send-message {
    font-style: italic;
    font-size: 22px;
    width: 50%;
    background-color: #1f3758;
  }

  .logo-linkedin {
    width: 40%;
  }

  .btn-contact {
    background: rgba(45, 70, 68, 0.849);
    border: none;
    cursor: pointer;
    width: 40%;
    font-size: 22px;
  }
}

@media screen and (min-width: 501px) and (max-width: 959px) {
  .title-contact {
    font-size: 50px;
    text-transform: uppercase;
    font-style: oblique;
    color: #f6edd8;
    font-weight: 900;
  }

  h2 {
    font-size: 35px;
    text-transform: capitalize;
    font-style: italic;
    color: cornsilk;
  }
  .listing-contact {
    display: flex;
    position: absolute;
    top: 25%;
    width: 100%;
    justify-content: space-around;
  }
  .form-container {
    width: 50%;
    background-color: rgb(35 61 94);
    margin: auto;
  }

  .mail-icons {
    width: 30px;
  }

  .name-icons {
    width: 30px;
  }
}

@media screen and (min-width: 960px) {
  .send-message {
    font-size: 28px;
    background-color: #1f3758;
  }
}

@media screen and (min-width: 959px) {
  .listing-contact {
    margin: 22px;
  }
  .container-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(16 16 16 / 73%);
    margin: 32px auto;
    width: 50%;
    justify-content: space-between;
  }

  .title-contact {
    font-size: 50px;
    text-transform: uppercase;
    font-style: oblique;
    color: #f6edd8;
    font-weight: 900;
  }
  h2 {
    font-size: 35px;
    text-transform: capitalize;
    font-style: italic;
    color: cornsilk;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
  }

  .intro-contact {
    line-height: 4rem;
  }
}
