@media screen and (min-width: 501px) and (max-width: 959px) {
  .searchBar {
    display: flex;
    flex-direction: column;
    height: 100px;
    color: brown;

    font-size: 24px;
    font-style: italic;
    font-weight: 900;
  }
}

@media screen and (min-width: 959px) {
  .searchBar input {
    font-size: 1.2rem;
  }

  .searchBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: brown;
    font-size: 24px;
    font-style: italic;
    font-weight: 900;
  }
}
